.settings {
  display: flex;
}
.settingsWrapper {
  flex: 9;
  padding: 20px;
}
.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.updateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}
.deleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}
.settinsForm {
  display: flex;
  flex-direction: column;
}
.settingPp {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.settingPp > img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}
.settingPpIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.settinsForm > label {
  font-size: 20px;
  margin-top: 20px;
}
.settinsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.settingsUpdate {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  margin-top: 20px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
